$header-height: 40px;
$header-backgroundcolor: #6e5773;

.of-text-small {
  font-size: 0.75rem;
}

.of-content {
  background-image: url("../images/start-bg-1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.of-content-container {
  height: calc(100vh - #{$header-height});
}

.of-nav-bar {
  background-color: transparent;
}

.of-text-engaging {
  color: $header-backgroundcolor;
}

.of-card-header {
  border-color: $header-backgroundcolor;
}

.of-bg-dark {
  background-color: $header-backgroundcolor;
}

.of-logo {
  color: #ffffff;
  font-weight: 400;
}