{% block header %}
    <nav class="nav navbar-expand-lg navbar-dark bg-dark text-white">
        <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarContent" aria-controls="navbarContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <a class="navbar-brand pl-2" href="{{ path('page_main') }}">
            One focus
        </a>

        <div class="collapse navbar-collapse" id="navbarContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a href="{{ path('page_login') }}" class="nav-link">Login Page</a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('page_main') }}" class="nav-link disabled">Link Two</a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('page_main') }}" class="nav-link disabled">Link Three</a>
                </li>
            </ul>
        </div>
    </nav>
{% endblock %}
