{% extends 'layout.html.twig' %}

{% block content %}
    <div class="row justify-content-center vh-100 align-content-center">
        <div class="col-lg-6">
            {% block viewContainer %}
            {% endblock viewContainer %}
        </div>
    </div>
{% endblock %}
