{% extends 'layout.html.twig' %}

{% block content %}
    <div class="row min-vh-100">
        <div class="col-lg min-vh-100">
            <div class="d-flex justify-content-center align-items-center vh-100">
                <h1 class="">Input comes here</h1>
            </div>
        </div>
    </div>
{% endblock %}
