{% extends 'layout.html.twig' %}

{% block content %}
    <div class="row justify-content-center of-content-container">
        <div class="col-lg-6 align-self-center">
            {% block viewContainer %}
            {% endblock viewContainer %}
        </div>
    </div>
{% endblock %}
